<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de Reservas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}">Inicio</a>
        </nav>
    </header>
    
    {% block content %}{% endblock %}
    
    <footer>
        <p>&copy; 2023 Aplicación de Reservas. Todos los derechos reservados.</p>
    </footer>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
